
.wikiList {
    float: left;
    position: relative;
    width: 356px;
    height: 100%;
    border-right: solid 1px #ececec;
    box-sizing: border-box;
    cursor: pointer;
    /*display: none;  搜索笔记的时候,默认为隐藏*/
}

  /*默认首页显示*/
  .cuthide {
      padding: 27px 24px;
      box-sizing: border-box;
      /*display: none;*/
  }
  .wikiList .notTitle {
      font-size: 21px;
      color: #878787;
      vertical-align: top;
      float: left;
      letter-spacing: 0.5px;
  }
  .wikiList .wikicut {
      float: right;
      width: 91px;
      height: 29px;
      border-radius: 4px;
      background: #2dbe60;
      color: #fff;
      text-align: center;
      line-height: 29px;
      font-weight: normal;
      border: 0;
  }
  .wikiList .wikicut a {
    color: #ffffff;
  }
  .noteNumbers {
      margin-top: 21px;
      padding: 0 24px;
      padding-bottom: 10px;
      position: relative;
      font-size: 13px;
      color: #ababab;
      position: relative;
      box-sizing: border-box
  }
  .wikinum {
      float: left;
  }
  .select {
     float: right;
     padding-right: 12px;
     /* background: url('../images/xiabiao.png') no-repeat right 5px; */
     box-sizing: border-box;
     position: relative;
  }



  
  /* 笔记本列表区域 */
  .NodesTwoList {
      overflow-x: hidden;
      overflow-y: hidden;
  }
  /* 滚轮 */
  .nodescroll {
      overflow: auto;
      border-top: solid 1px #ccc;
      vertical-align:baseline;
      overflow-y: scroll;
  }
  
  /* 主题内容----------------------------------- */
  .nodescroll .n-conts {
      padding: 12px 26px;
      height: 120px;
      /*overflow-y: hidden;*/
      border: solid 2px transparent;
      box-sizing: border-box;
      position: relative;
      line-height: 17px;
      transition: 0.1s;
  }
  .nodescroll .n-conts.sel {
    border-color: rgb(217,217,217);
    box-sizing: border-box;
  }
  .nodescroll .n-conts:hover {
      background: #40bc6c;
  }
  .n-conts:hover .n-title {
     color: #fffdf1;
  }
  .n-conts:hover .n-wrap ,.n-conts:hover .n-times {
    color: #ffffff;
  }
  
  .nodescroll .n-title {
      font-size: 16px;
      color: #000;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      width: 60%;
  }
  .nodescroll .n-times {
      font-size: 13px;
      color: #878787;
      font-weight: 400;
      padding: 4px 0;
  }
  .nodescroll .n-wrap {
      font-size: 12px;
      color: #878787;
      font-family: gotham, helvetica, arial, sans-serif;
      padding-right: 6px;
      height: 48px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      overflow-wrap:break-word
  }
  
  /* 鼠标移入笔记列表显示出来 */
  .nodescroll .n-fnc {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 51;
      display: block;
  }
  .n-fnc .n-shake {
    /* background: url("../images/cont_fenxiang1.png") no-repeat; */
  }
  .n-fnc .n-shake:hover {
    /* background: url("../images/shubiaoyirufenxiang.png") no-repeat; */
  }
  .nodescroll .n-fnc .cont-icon {
      float: left;
      margin: 6px 6px 0 0;
      width: 24px;
      height: 24px;
  }
  .nodescroll .n-fnc .remins {
     /* background: url("../images/tixing24x24.png") no-repeat; */
     position: relative;
  }
  .nodescroll .n-fnc .remins:hover {
     /* background: url("../images/reminder_solid_white_24x24.png") no-repeat; */
  }
  .nodescroll .n-fnc .remins.active {
    /* background: url("../images/reminder_solid_white_24x24.png") no-repeat; */
  }
  
  .wikiList .yinxfcn {
    padding: 20px 0 0 17px;
    box-sizing: border-box;
    cursor: pointer;
    zoom:2
}